body {
    background-color: black;
}

.container {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20%;
    margin: 0 auto;
}

.body {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 95%;
    margin: 0 auto;
}

.dino {
    background-color: lime;
    grid-row: 1 / 2;
    grid-column: 1 / 2;

}

.bad {
    background-color: red;
    grid-row: 0 / 1;
    grid-column: 0 / 1;
    align-self: self-end;
    height: 75px;
}